# AMR-Flow Configuration Template
# Run terraform apply first, then fill these in:
AMR_STATIC_BUCKET=
AMR_COMPUTE_BUCKET=
AMR_BATCH_QUEUE=
AMR_JOB_ROLE_ARN=
AMR_SUBNETS=
AMR_SECURITY_GROUPS=
AWS_DEFAULT_REGION=us-east-1
TOWER_ACCESS_TOKEN="seqera token"
# Your AWS Access Keys (Needed for the local UI to talk to AWS)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=