# Nextflow temporary files & logs
nextflow/work/
nextflow/.nextflow/
.nextflow/
.nextflow.log*
*.html
*.html.*

# Python virtual environment and cache
venv/
__pycache__/
*.pyc

# Data & Results (Don't upload heavy genomic data)
nextflow/results/
nextflow/databases/
*.fastq
*.fastq.gz
*.fasta
*.fna
*.tsv

# AWS Security & Keys (CRITICAL)
*.pem
.aws/
.env
credentials
# Terraform local state and plugins
.terraform/
.terraform.lock.hcl

# Terraform state files
*.tfstate
*.tfstate.*

# Sensitive variable values
terraform.tfvars
*.tfvars.json

# Log files
*.lock.info
crash.log