manifest {
    name            = 'AMR-Flow'
    author          = 'Naouel'
    description     = 'Hybrid Assembly and AMR Detection Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// --- 1. GLOBAL PARAMETERS ---
params {
    input    = "sample.tsv"
    outdir   = "results"
    
    // Database Paths
    bakta_db = "${projectDir}/databases/bakta_db"
    amr_db   = "${projectDir}/databases/amr_db"

    fastp_args = '--cut_front --cut_tail --trim_poly_g'
}

// --- 2. EXECUTION PROFILES ---
profiles {

    docker {
        docker.enabled    = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
        process.executor  = 'local'
        cleanup           = false // Keep work files locally for debugging
    }

    // AWS Cloud Profile: For AWS Batch and S3
    aws {
        
        workDir           = 's3://my-amr-flow-data/work' 
        
        process.executor  = 'awsbatch'
        process.queue     = 'nextflow-queue'
        // Task 2.1: Assigning the Ephemeral Task Identity
        aws.batch.jobRole = 'arn:aws:iam::485988342847:role/AMR-Flow-Job-Role'
        // Networking: Using the subnets from image_3ed3ab.png
        // Task 3.1 & 3.2: Infrastructure Configuration
        aws.batch.subnets = ['subnet-020b1c8e1d47e7ee0', 'subnet-00ce04744f6fc1c2a']
        // Security: Ensures containers can communicate
        aws.batch.securityGroups = ['sg-0123456789example']
        cleanup           = true  

        fusion.enabled    = true
        wave.enabled      = true
        
        aws.region        = 'us-east-1' 
       
        aws.batch.cliPath = '/home/ubuntu/miniconda3/bin/aws' 
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/execution/timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/execution/report.html"
}

// --- 3. PROCESS RESOURCE ALLOCATION ---
process {
    cpus   = 2
    memory = '4 GB'
    
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy'
    ]

    // Resource Overrides for Heavy Tasks
    withName: 'UNICYCLER_.*|FLYE.*|MEDAKA_.*|BAKTA' {
        cpus   = 8
        memory = '32 GB' 
    }

    // Containers
    // --- Task 2.4: Environment Abstraction (Container Mapping) ---
    withName: '.*FASTP.*'     { container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_1' }
    withName: 'UNICYCLER_.*'  { container = 'staphb/unicycler:0.5.0' }
    withName: 'FLYE.*'        { container = 'staphb/flye:2.9.3' }
    withName: 'BAKTA'         { container = 'staphb/bakta:1.9.4' }
    withName: 'AMRFINDERPLUS' { container = 'staphb/ncbi-amrfinderplus:latest' }
    withName: 'DNAAPLER.*'    { container = 'staphb/dnaapler:0.7.0' }
    withName: 'FILTLONG.*'    { container = 'staphb/filtlong:0.2.1' }
    withName: 'PYPOLCA.*'     { container = 'staphb/pypolca:0.3.1' }
    withName: 'BWA_MEM'       { container = 'staphb/bwa:0.7.17' }
    withName: 'POLYPOLISH'    { container = 'staphb/polypolish:0.6.0' }
    withName: 'MEDAKA.*'      { container = 'ontresearch/medaka:latest' }
}

timeline.enabled = true
report.enabled   = true