manifest {
    name            = 'AMR-Flow'
    author          = 'Naouel'
    description     = 'Hybrid Assembly and AMR Detection Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// --- 1. GLOBAL PARAMETERS ---
params {
    input    = "sample.tsv"
    outdir   = "results"
    
    // Database Paths
    bakta_db = "${projectDir}/databases/bakta_db"
    amr_db   = "${projectDir}/databases/amr_db"

    fastp_args = '--cut_front --cut_tail --trim_poly_g'
}

// --- 2. EXECUTION PROFILES ---
profiles {

    // Local Profile: Run on your PC/EC2 using Docker
    docker {
        docker.enabled    = true
        docker.runOptions = "-u \$(id -u):\$(id -g)"
        process.executor  = 'local'
        cleanup           = false // Keep work files locally for debugging
    }

    // AWS Cloud Profile: For AWS Batch and S3
    aws {
        process.executor  = 'awsbatch'
        process.queue     = 'nextflow-queue'
        
        // This is the CRITICAL line for Cloud Engineering: 
        // It deletes the "work/" directory on S3 after success to save money.
        cleanup           = true  

        // Optimization: Fusion & Wave (New for 2026)
        fusion.enabled    = true
        wave.enabled      = true
        
        aws.region        = 'us-east-1' 
        // Update this path to where AWS CLI is installed on your EC2
        aws.batch.cliPath = '/home/ubuntu/miniconda3/bin/aws' 
    }
}
// Update this section in your config
timeline {
    enabled = true
    file    = "${params.outdir}/execution/timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/execution/report.html"
}

// --- 3. PROCESS RESOURCE ALLOCATION ---
process {
    cpus   = 2
    memory = '4 GB'
    
    // This logic creates sub-folders based on the process name (e.g., results/fastp/)
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy'
    ]

    // Resource Overrides for Heavy Tasks
    withName: 'UNICYCLER_.*|FLYE.*|MEDAKA_.*|BAKTA' {
        cpus   = 8
        memory = '32 GB' 
    }

    // Containers
    withName: '.*FASTP.*'     { container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_1' }
    withName: 'UNICYCLER_.*'  { container = 'staphb/unicycler:0.5.0' }
    withName: 'FLYE.*'        { container = 'staphb/flye:2.9.3' }
    withName: 'BAKTA'         { container = 'staphb/bakta:1.9.4' }
    withName: 'AMRFINDERPLUS' { container = 'staphb/ncbi-amrfinderplus:latest' }
}

timeline.enabled = true
report.enabled   = true